.create-event-modal{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.create-event-container>h2{
    margin: 3.0rem 0 1.5rem 0;
    font-size: 2.4rem;
    color: #212121;
    font-weight: 700;
}

.create-event-container>a{
    font-size: 1.6rem;
    line-height: 2.2rem;
    letter-spacing: 0.25pt;
    font-weight: 500;
    color: #fff;
    background-color: #212121;
    padding: 1.1rem 9.4rem 1.3rem 9.4rem;
    border-radius: .9rem;
    display: block;
    cursor: pointer;
}
.create-event-container>a>span{
    font-size: 2.4rem;
    font-weight: 400;
    position: relative;
    top: .2rem;
    padding: 0 1.1rem 0 0;
}
.create-event-paper{
    align-self: center;
    height: 70%;
    overflow: auto;
    width: 75.0rem;
}

.create-event-modal-box>a{
    font-size: 1.6rem;
    line-height: 2.2rem;
    letter-spacing: 0.25pt;
    font-weight: 500;
    color: #fff;
    background-color: #212121;
    padding: 1.1rem 0 1.3rem 0;
    border-radius: 9px;
    display: block;
    width: 18.4rem;
    text-align: center;
    margin: 3.0rem auto 0 auto;
    cursor: pointer;
}

.create-event-modal-box>a>span{
    font-size: 2.4rem;
    font-weight: 400;
    position: relative;
    top: .2rem;
    padding: 0 1.1rem 0 0;
}

.create-event-modal-box {
  padding: 2.7rem 3.4rem 4.5rem 3.4rem;
    .create-event-modal-box-header {
      display: flex;
      margin: 0 0 3.6rem 0;
      justify-content: space-between;
      img {
        height: 2.4rem;
        padding-top: .3rem;
        cursor: pointer;
      }

      h3 {
        font-size: 2.4rem;
        line-height: 2.8rem;
        margin: 0;
        color: #424242;
        font-weight: 500;
      }
    }
    .create-event-input-field-flex-box-row {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-evenly;
    }
    .create-event-input-field-flex-box-column {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-right: 4rem;
    }
  .create-event-input-field-flex-box-column:last-child{
    margin-right: 0;
  }
    .create-event-input-element {
      margin: 0 0 1.5rem 0;
      width: 100%;
    }

    .create-event-input-field-describe {
      margin: 2rem 0 0 0;

      h5 {
        font-weight: 400;
        color: #424242;
      }
    }
}