.log-container{
    margin-right: auto;
    margin-left: 210px;
    cursor: pointer;
}


.log-container>div{
    display: inline-block;
}

.log-container>div>h6{
    color: #4e98ed;
    font-size: 14px;
    letter-spacing: 0.09pt;
    line-height: 17px;
    margin: 0;
    font-weight: 500;
}

.log-container>div>p{
    color: #999999;
    font-size: 14px;
    letter-spacing: 0.09pt;
    font-weight: 400;
    margin: 0;
}

.log-icon{
    color: #999999;
    display: inline-block;
    position: relative;
    left: 20px;
}