.log-container{
    margin-right: auto;
    margin-left: 21.0rem;
    cursor: pointer;
}


.log-container>div{
    display: inline-block;
}

.log-container>div>h6{
    color: #4e98ed;
    font-size: 1.4rem;
    letter-spacing: 0.09pt;
    line-height: 1.7rem;
    margin: 0;
    font-weight: 500;
}

.log-container>div>p{
    color: #999999;
    font-size: 1.4rem;
    letter-spacing: 0.09pt;
    font-weight: 400;
    margin: 0;
}

.log-icon{
    color: #999999;
    display: inline-block;
    position: relative;
    left: 2.0rem;
}