.login-paper {
    margin-top: 72px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 600px;
    height: 371px;
}

.login-paper>h3{
    text-align: center;
    margin: 18px 0 18px 0;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0.3pt;
    line-height: 29px;
    color: #212121;
}

.login-paper>.login-button{
    cursor: pointer;
    background-color: #26a69a;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.25pt;
    padding: 13px 48px 11px 48px;
    border-radius: 13px;
    text-align: center;
    margin: 24px auto 0 auto;
}

.login-paper>.login-register-link{
    text-decoration: none;
    color: #212121;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.12pt;
    font-weight: 500;
    cursor: pointer;
    text-align: center;
    margin: 21px 0 21px 0;
}

.login-paper>.login-input{
    width: 375px;
    height: 64px;
    margin: 12px auto 12px auto;
}

.login-container{
    display: flex;
    justify-content: center;
}

.login-label{
    font-family: 'Rubik', sans-serif;

}